beautifulsoup4
cn2an
edge-tts
face_recognition
flask
homeassistant_api
jieba
librosa
lxml
misaki
ollama
openai
opencv-python
ordered_set
ping3
psutil
pyaudio
pypinyin
pywifi
rapidocr_openvino
soundfile
ultralytics
funasr_onnx==0.4.1
